* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 6.4rem;
}

:root {
    font-size: 62.5%;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

@keyframes glow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

a {
    all: unset;
}

a:hover {
    animation: glow 4s infinite;
    cursor: pointer;
    transition: transform 0.2s;
}